{% extends 'base.html' %}
{% load static %}
{% block title %} Story8 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id=books>
    <div class="section-title"> TEMUKAN BUKUMU! </div>

    <input  class="form-control" id=keyword placeholder="Ketik nama buku, misal: Laut Bercerita">
    <table class="table table-hover">
        <tbody id="daftarBuku"> 
        </tbody>
    </table>
</section>
{% endblock %}

{% block script %}  
<script type="text/javascript">
    $("#keyword").keyup(function(){
        var ketikan = $("#keyword").val();
        console.log(ketikan);
        $.ajax({
            url: '/data?q=' + ketikan,
            success: function(data) {
                //console.log(data);
                var array_items = data.items;
                //console.log(array_items);
                $("#daftarBuku").empty();
                for(i=0; i< array_items.length; i++){
                    var title = array_items[i].volumeInfo.title;
                    var authors = array_items[i].volumeInfo.authors;
                    var image = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                    var rating = array_items[i].volumeInfo.averageRating;
                    var previewLink = array_items[i].volumeInfo.previewLink;
                    if(authors==undefined){
                        var authors = "-"
                    }
                    if(rating==undefined){
                        var rating = "-"
                    }
                    $("#daftarBuku").append(
                        "<tr>" + 
                        "<td>" + "<img src="+image+">"+ "</td>" +
                        "<td>" + "<b>" + title + "</b>" + "<br>" + 
                        "Authors: " + authors + "<br>" +
                        "Rating: " + rating + "<br>" +  "<br>" +
                        "<a id= preview class= button href=" + previewLink + '>Preview Book</a>'+
                        "</td>" +"</tr>");
                }
            }
        });
    });
</script>
{% endblock %}
