{% extends 'base.html' %}
{% load static %}
{% block title %} Story 7 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section>
    <div class="section-title"> HALOO <br>SEMUAAA </div>
    <img class="pic" style="margin-top: 5px; margin-bottom: 20px;" src="{% static 'img/hi.png' %}">
</section>
{% endblock %}
