html {
    scroll-behavior: smooth;
}

.bg-dark {
    background-color:#af6b58 !important;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:30px !important}

.navbar-brand {
    font-family: Josefin Sans;
    font-style: normal;
}

.navbar-collapse {
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #FBB67B;
}

section {
	min-height: 100vh;
	max-width: 100vw;
	scroll-snap-align: start;
	padding: 5vh;
  	background-color:#f2efea ;
	color: #000000;
}

.section-title {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	line-height: 37px;
	text-align: center;
	letter-spacing: 0.2em;

	padding: 40px 0px 40px 0px;
	color:  #c75643;
}


#home {
    background-color:#f2efea;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
 }

 #home .title {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 93px;
    
    color: #556052;

    font-weight: bold;
    letter-spacing: 0.15em;
    padding:50px;
 }

.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}


body {
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size:22px;
	color: #000000;
}

/* story 7 */
.accordion-container{
  position: relative;
  max-width: 60vw;
  height: auto;
  margin: 10px auto;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #e3bab3;
  font-family: Josefin Sans;
}

.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #393e46;
  font-weight: 400;
  border: 1px solid#556052;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a.active {
  background-color:#af6b58;
  color: #fff;
}
.content {
  background-color: #fff;
  border: 1px solid #ddd;
  display:none;
}
.content p {
  padding: 10px 15px;
  margin: 0;
  color: #333;
}

button.up, button.down {
  background-color:#af6b58;
  color: #fff;
  font-size:18px;
  border-radius: 20px;
}

.active .up, .active .down {
  background-color: #fff;
  color: #555;
}

