{% extends 'base.html' %}
{% load static %}
{% block title %} Story7 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section class="normal">
  <div class="section-title"> TENTANG AKU </div>

  <div class="accordion-container" >
    <div id="activity" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Aktifitas
        <div style="border-radius: 30px;">
          <button class="up"> ∧ </button>
          <button class="down" style="font-weight: bold;"> v </button>
        </div>
      </a>
      <div class="content">
        <p>Mencoba memahami setiap matkul dan berjuang buat ngerjain banyak tugas :'</p>
      </div>
    </div>

    <div id="experience" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Pengalaman
        <div>
          <button class="up"> ∧ </button>
          <button class="down" style="font-weight: bold;"> v </button>
        </div>
      </a>
      <div class="content">
        <ul>
          <li>Staff Administrasi DPM Fasilkom UI</li>
          <li>Staff Divisi Acara SIWAK-NG 2020</li>
          <li>Mentor OKK UI 2020</li>
        </ul>
      </div>
    </div>
    
    <div id="achievement" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Prestasi
        <div>
          <button class="up"> ∧ </button>
          <button class="down" style="font-weight: bold;"> v </button>
        </div>
      </a>
      <div class="content">
        <p> Tidur kurang dari 5 jam perhari </p>
      </div>
    </div>
    
    <div id="contact" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Kontak
        <div>
          <button class="up"> ∧ </button>
          <button class="down" style="font-weight: bold;"> v </button>
        </div>
      </a>
      <div class="content">
        <p> ig: @mirsalsa </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block script %}  <script src="{% static 'js/accordion.js' %}"></script> {% endblock %}
