<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'landingPage:index' %}">Masih Semangat?</a>
    <div class="col-auto">
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FITUR
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'story7:profile' %}">Story 7 PPW</a>
                <a class="dropdown-item" href="{% url 'story8:books' %}">Story 8 PPW</a>
                <a class="dropdown-item" href="{% url 'story9:story9' %}">Story 9 PPW</a>
            </div>
        </li>
      </ul>
    </div>
    </div>
    </div>
</nav>
