{% extends 'base.html' %}
{% load static %}

{% block title %}
Story 9
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<section id=normal>
    <div class="container" id="container-login">  
        <div class="section-title"> LOGIN </div>
        <p style="text-align: center;">Silahkan login untuk melanjutkan</p>
        <br>
        
        <form id="formlogin" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" id="username" name= "username">
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" id="password" name="password">
                </div>
              </div>
            <br>
            <input class="btn btn-dark login_btn" type="submit" value="Login">
        </form>
        <br>

        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}	

        <p style="text-align: center;">
            Tidak punya akun? Silahkan daftarkan akun terlebih dahulu
            <a href="{%url 'story9:signup'%}"><br>
                Daftar disini</a>
        </p>
    </div>
</section>
{% endblock content %}
