{% extends 'base.html' %}
{% load static %}

{% block title %}
Story 9
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<section id=normal>
    <div class="container" id="container-login">
        
    <div class="section-title"> SIGN UP </div>
        <p style="text-align: center;">Sign up jika kamu belum memiliki akun</p>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    {{form.username}}
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    {{form.email}}
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    {{form.password1}}
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Konfirmasi password</label>
                <div class="col-sm-10">
                    {{form.password2}}
                </div>
              </div>
            <br>
            <input class="btn btn-dark login_btn" type="submit" value="Sign Up" style="margin-left: 0px;">
        </form>
        <br>
        {{form.errors}}
        <br>
        <p style="text-align: center;">
            Sudah punya akun?
            <a href="{%url 'story9:login'%}"><br>
                Login di sini</a>
        </p>
    </div>
</section>
{% endblock content %}
