{% extends 'base.html' %}
{% load static %}
{% block title %} Story 9 {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<section id=normal>
    <div class="section-title"> HALOO <br>{{user.username}}! </div>
    <br>
    <div style="text-align: center;">
        <img src="{% static 'img/halo.png' %}"  class="pic" style="margin-top: 5px; margin-bottom: 5px;" >
        <br>
    </div>
    <p style="text-align: center;">Ingin logout?
        <a href="{% url 'story9:logout' %}"><br>
            Logout</a>
    </p>
   
    
</section>

{% endblock %}
